<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path: 'images/apple-touch-icon.png', extensionName: 'cb_template')}">
<link rel="icon" type="image/png" sizes="32x32" href="{f:uri.resource(path: 'images/favicon-32x32.png', extensionName: 'cb_template')}">
<link rel="icon" type="image/png" sizes="16x16" href="{f:uri.resource(path: 'images/favicon-16x16.png', extensionName: 'cb_template')}">
<!--<link rel="manifest" href="{f:uri.resource(path: 'site.webmanifest', extensionName: 'cb_template')}">-->
<link rel="mask-icon" href="{f:uri.resource(path: 'images/safari-pinned-tab.svg', extensionName: 'cb_template')}" color="#043983">